* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ส่วน css หน้า Login */
.icon-login {
  font-size: 25px;
  color: rgb(1, 83, 82);
  margin: 5px 5px;
}
.pg-login {
  margin: 0 auto;
}
.imgview {
  flex-basis: 100px;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
